# Data preprocessing

The raw data has been obtained from the Nettiauto API.

After processing, the dataset is exported to a CSV file. The notebook `nettiauto_model.ipynb` uses this CSV file to train XGBoost model.

Running this notebook creates these files:

- `nettiauto_dataset.csv`

In [63]:
ACCESSORIES_TO_COLUMN_NAME = {
    'Airconditioning: Automatic': 'airconditioning',
    'Parking sensors': 'parking_sensors',
    'Satellite navigator': 'satellite_navigator',
    'Cruise control: Adaptive': 'cruise_control_adaptive',
    'Parking camera: Simple camera': 'parking_camera_simple_camera',
    'Seat heaters': 'seat_heaters',
    'Driving assistant': 'driving_assistant', # ei mobile de poistetaan
    'Alloy wheels': 'alloy_wheels',
    'Electric mirrors': 'electric_mirrors',
    'Lane departure warning system': 'lane_departure_warning_system',
    'Electrically operated tailgate': 'electrically_operated_tailgate',
    'Leather upholstery': 'leather_upholstery',
    'Emergency brake assist': 'emergency_brake_assist',
    'Collision avoidance system': 'collision_avoidance_system',
    'Cruise control: Traditional': 'cruise_control_traditional',
    'Parking Assistant': 'parking_assistant',
    'Tow bar': 'tow_bar',
    'Electric seats: With memory': 'electric_seats_with_memory',
    'Heated steering wheel': 'heated_steering_wheel',
    'Sunroof': 'sunroof',
    'Sun hatch: With panorama': 'sun_hatch_with_panorama',
    'Adaptive headlights': 'adaptive_headlights',
    'Sport seats': 'sport_seats',
    'Fuel / battery powered heater': 'fuel_battery_powered_heater',
    'Parking camera: 360-degree camera': 'parking_camera_360-degree_camera',
    'Battery preheating': 'battery_preheating',
    'Electric seats: Without memory': 'electric_seats_without_memory',
    'Air suspension': 'air_suspension',
    'Curve lights': 'curve_lights',
    'Head-Up display': 'head_up_display',
    'Sport base': 'sport_base',
}

DRIVE_TYPE = {'Four wheel': '4wd', 'Front wheel': 'fwd', 'Rear wheel': 'rwd', 'Not available': None}

fields_to_pick = [
    'make',
    'model',
    'modelTypeName',
    'color',
    'driveType',
    'price',
    'totalOwners',
    'kilometers',
    'seats',
    'power',
    'batteryCapacity',
    'electricRange',
]

columns = [
    *fields_to_pick,
    'age',
    'isSuv',
    'metallicColor',
    *ACCESSORIES_TO_COLUMN_NAME.values(),
]

In [64]:
import re

zero_times_s = 'Pro Performance 1ST 150 kW'
one_times_s = 'Pro Performance 1ST 150 kW, akku 77 kWh'
two_times_s = 'Pro Performance 1ST 150 kW, akku 77 kWh Pro Performance 1ST 150 kW, akku 88 kWh'
one_time_no_space = 'Pro Performance 1ST 150 kW, akku 77kWh Pro Performance 1ST 150 kW'
one_time_no_space_with_delimitter = 'Pro Performance 1ST 150 kW, akku 77,8kWh Pro Performance 1ST 150 kW'
one_time_no_space_with_delimitter2 = 'Pro Performance 1ST 150 kW, akku 77.8kWh Pro Performance 1ST 150 kW'



battery_regex = r'(\d{2,3}([.,]+\d)*\s*kWh)'

def parse_battery_capacity_from_free_text(free_text):
    matches = re.findall(battery_regex, free_text, re.IGNORECASE)
    if not len(matches):
        return 0
    return sorted([float(s[0].lower().replace(',', '.').replace('kwh', '').split()[0]) for s in matches], reverse=True)[0]

print(parse_battery_capacity_from_free_text(zero_times_s))
print(parse_battery_capacity_from_free_text(one_times_s))
print(parse_battery_capacity_from_free_text(two_times_s))
print(parse_battery_capacity_from_free_text(one_time_no_space))
print(parse_battery_capacity_from_free_text(one_time_no_space_with_delimitter))
print(parse_battery_capacity_from_free_text(one_time_no_space_with_delimitter2))

0
77.0
88.0
77.0
77.8
77.8

In [65]:
CURRENT_YEAR = 2023
CURRENT_MONTH = 10

def get_age(year, reg_y, reg_m):
    if reg_y and reg_m:
        return CURRENT_YEAR - reg_y + (CURRENT_MONTH - reg_m) / 12
        
        
    return CURRENT_YEAR - year

In [66]:
import os
import json
import pandas as pd
pd.set_option('display.max_columns', None)


QUERY_RESULTS_PATH = './query_results'



def open_nettiauto_file(file_name):
    print(file_name)
    with open(f'{QUERY_RESULTS_PATH}/{file_name}', 'r') as f:
        data = json.load(f)
    return data

def map_nettiauto_entry_to_row(item):
    try:
        acc = item['accessories'] if item['accessories'] else []
        acc_set = set([ ACCESSORIES_TO_COLUMN_NAME[row['en']] for row in acc if row['en'] in ACCESSORIES_TO_COLUMN_NAME])


        result_without_accessories = {key: item[key] for key in fields_to_pick if key in item}
        result_without_accessories['isSuv'] = item['bodyType']['id'] == 5
        result_without_accessories['make'] = result_without_accessories['make']['name'].lower()
        result_without_accessories['model'] = result_without_accessories['model']['name'].lower()
        result_without_accessories['color'] = result_without_accessories['color']['en'].lower()
        result_without_accessories['metallicColor'] = item['colorType']['en'].lower() == 'metallic'
        result_without_accessories['driveType'] = DRIVE_TYPE[result_without_accessories['driveType']['en']]
        result_without_accessories['age'] = get_age(item['year'], item['firstRegistrationYear'], item['firstRegistrationMonth'])
        
        # It's ugly but does its job. I was able to get the missing batteryCapacity from 2109 to 1219
        if not result_without_accessories['batteryCapacity'] and 'modelTypeName' in item and item['modelTypeName']:
            result_without_accessories['batteryCapacity'] = parse_battery_capacity_from_free_text(item['modelTypeName'])
        if not result_without_accessories['batteryCapacity'] and 'description' in item and item['description']:
            result_without_accessories['batteryCapacity'] = parse_battery_capacity_from_free_text(item['description'])
        if not result_without_accessories['modelTypeName']:
            result_without_accessories['modelTypeName'] = ''

        return {
            **result_without_accessories,
            **{key: key in acc_set for key in ACCESSORIES_TO_COLUMN_NAME.values()},
        }
    except Exception as e:
        print(item['id'])
        raise e


dfs = []

for file_name in sorted(os.listdir(QUERY_RESULTS_PATH)):
    results = map(map_nettiauto_entry_to_row, open_nettiauto_file(file_name))
    dfs.append(pd.DataFrame(data=results, columns=columns))

    
df = pd.concat(dfs)
df.head()

2021-01_response_1696071482757.json
2021-02_response_1696071737045.json
2021-03_response_1696072016857.json
2021-04_response_1696072267024.json
2021-05_response_1696072588298.json
2021-06_response_1696072850927.json
2021-07_response_1696073239785.json
2021-08_response_1696073507847.json
2021-09_response_1696073655890.json
2022-01_response_1696074468991.json
2022-02_response_1696074615821.json
2022-03_response_1696074839641.json
2022-04_response_1696075021170.json
2022-05_response_1696075239764.json
2022-07_response_1696075876798.json
2022-07_response_1696079148457.json
2022-08_response_1696076147323.json
2022-09_response_1696076364847.json
2022-10_response_1696076596294.json
2022-11_response_1696076798891.json
2022-12_response_1696076991892.json
2022-13_response_1696077143377.json
2022-14_response_1696077274819.json
2022_06_response_1696075611367.json
2023-01_response_1696078129488.json
2023-02_response_1696078250632.json
2023-03_response_1696078413236.json
2023-04_response_1696078557947.json
2023-05_response_1696078706413.json
2023-06_response_1696078884031.json
2023-08_response_1696079394270.json
2023-09_response_1696079549247.json
2023-10_response_1696079699935.json
2023-11_response_1696079889470.json
2023-12_response_1696080076382.json
2023-13_response_1696080219282.json
2023-14_response_1696080438741.json
2023-15_response_1696080634568.json
2023-16_response_1696080829252.json
2023-17_response_1696081303902.json
2023-18_response_1696081442631.json
2023-19_response_1696081597850.json
2023-20_response_1696081742303.json
2023-21_response_1696081858431.json
2024-01_response_1696082415731.json

,make,model,modelTypeName,color,driveType,price,totalOwners,kilometers,seats,power,batteryCapacity,electricRange,age,isSuv,metallicColor,airconditioning,parking_sensors,satellite_navigator,cruise_control_adaptive,parking_camera_simple_camera,seat_heaters,driving_assistant,alloy_wheels,electric_mirrors,lane_departure_warning_system,electrically_operated_tailgate,leather_upholstery,emergency_brake_assist,collision_avoidance_system,cruise_control_traditional,parking_assistant,tow_bar,electric_seats_with_memory,heated_steering_wheel,sunroof,sun_hatch_with_panorama,adaptive_headlights,sport_seats,fuel_battery_powered_heater,parking_camera_360-degree_camera,battery_preheating,electric_seats_without_memory,air_suspension,curve_lights,head_up_display,sport_base
0,porsche,taycan,Taycan sähköauto Heti toimitukseen!! rahoitus ...,black,rwd,101880.0,1.0,2100.0,5.0,300.0,79.0,400.0,2.416667,False,False,True,True,True,False,False,True,False,True,True,False,True,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,True
1,opel,zafira-e,"Life L Comfort 136 automaatti 50 **Täyssähkö, ...",other,fwd,47900.0,NaN,2500.0,NaN,100.0,0.0,NaN,2.583333,False,False,True,False,False,False,False,True,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,mercedes-benz,eqs,"580 4Matic ** Muistipenkit, Burmester, nelipyö...",gray,4wd,125900.0,NaN,30000.0,5.0,385.0,108.4,702.0,2.000000,False,False,True,True,True,True,False,True,True,True,True,True,True,True,False,True,False,True,False,True,False,False,True,True,True,True,True,True,False,True,False,False,False
3,nissan,leaf,e+ N-Connecta MY21 62 kWh *Isoakkunen Huippuva...,black,fwd,35800.0,NaN,10000.0,5.0,160.0,62.0,NaN,2.000000,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,citroen,e-c4,"Full Electric 136 Shine 50 kWh, KORKOTARJOUS 3...",blue,fwd,33800.0,NaN,17000.0,5.0,100.0,50.0,NaN,2.000000,False,False,True,True,True,False,True,False,True,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [67]:
def update_capacity(df, make, model, capacity, re=".*", reverse=False):
    m = ((df["make"] == make)
        & (df["model"] == model))
    if reverse:
        m = (m & ~((df["modelTypeName"].str.contains(re, case=False, regex=True) == True).values))
    else:
        m = (m & ((df["modelTypeName"].str.contains(re, case=False, regex=True) == True).values))

    df.loc[m,"batteryCapacity"] = capacity
    print(f"Updated {m.sum():3} cars with parameters:\t{make:15}\t{model:10}\t{capacity:4}\t{re}")
    
def update_power(make, model, power, re=""):
    m = ((df["make"] == make)
            & (df["model"] == model)
            & (df["power"] <= 50)
            & ((df["modelTypeName"].str.contains(re, case=False, regex=True) == True).values))
    df.loc[m,"power"] = power
    print(f"Updated {m.sum():3} cars with parameters:\t{make:15}\t{model:10}\t{power:4}\t{re}")

def get_missing_df(df, make, model=''):
        if model:
                return df[(df['batteryCapacity'] == 0) & (df['make'] == make) & (df['model'] == model)][['make', 'model', 'modelTypeName', 'power', 'kilometers', 'electricRange', 'driveType']]
        return df[(df['batteryCapacity'] == 0) & (df['make'] == make)][['make', 'model', 'modelTypeName', 'power', 'kilometers', 'electricRange', 'driveType']]

def print_info(df, make, model, re=".*"):
        mask = (df['make'] == make) & (df['model'] == model) & (df['modelTypeName'].str.contains(re, regex=True))
        mercedes = df[mask]
        print(mercedes['batteryCapacity'].value_counts())
        print(mercedes[['modelTypeName', 'batteryCapacity']])
        
def print_missing_for_make(df, make):
        no_battery_df = df[df['batteryCapacity'] == 0]
        mercedes_no_battery = no_battery_df[no_battery_df['make'] == make]['model']
        print(mercedes_no_battery.value_counts())
        
def print_make_missing_battery(df):
    print(df[df['batteryCapacity'] == 0]['make'].value_counts())

In [68]:
update_power("kia", "ev6", 125, "standard\s*range")
update_power("kia", "ev6", 168, "long\s*range\s*AWD")
update_power("kia", "ev6", 239, "long\s*range")
update_power("kia", "ev6", 430, "gt")
update_power("kia", "niro", 150)


update_power("skoda", "enyaq", 109, "50")
update_power("skoda", "enyaq", 132, "60")
update_power("skoda", "enyaq", 195, "80X")
update_power("skoda", "enyaq", 150, "80")
update_power("skoda", "enyaq", 225, "RS")

update_power("mercedes-benz", "eqe", 180, "300")
update_power("mercedes-benz", "eqe", 215, "350")
update_power("mercedes-benz", "eqe", 300, "500")
update_power("mercedes-benz", "eqe", 350, "43")
update_power("mercedes-benz", "eqe", (460+505)/2, "53")

update_power("mercedes-benz", "eqb", 140, "250")
update_power("mercedes-benz", "eqb", 168, "300")
update_power("mercedes-benz", "eqb", 215, "350")

update_power("mercedes-benz", "eqa", 140, "250")
update_power("mercedes-benz", "eqa", 168, "300")
update_power("mercedes-benz", "eqa", 215, "350")

update_power("nissan", "leaf", 80)

update_power("peugeot", "e-2008", 100)
update_power("peugeot", "e-208", 100)

update_power("toyota", "bz4x", (150+160)/2)

Updated   0 cars with parameters:	kia            	ev6       	 125	standard\s*range
Updated   0 cars with parameters:	kia            	ev6       	 168	long\s*range\s*AWD
Updated   0 cars with parameters:	kia            	ev6       	 239	long\s*range
Updated  10 cars with parameters:	kia            	ev6       	 430	gt
Updated  21 cars with parameters:	kia            	niro      	 150
Updated   0 cars with parameters:	skoda          	enyaq     	 109	50
Updated  10 cars with parameters:	skoda          	enyaq     	 132	60
Updated   4 cars with parameters:	skoda          	enyaq     	 195	80X
Updated  11 cars with parameters:	skoda          	enyaq     	 150	80
Updated   0 cars with parameters:	skoda          	enyaq     	 225	RS
Updated   3 cars with parameters:	mercedes-benz  	eqe       	 180	300
Updated   5 cars with parameters:	mercedes-benz  	eqe       	 215	350
Updated   1 cars with parameters:	mercedes-benz  	eqe       	 300	500
Updated   0 cars with parameters:	mercedes-benz  	eqe       	 350	43
Updated   0 cars with parameters:	mercedes-benz  	eqe       	482.5	53
Updated   0 cars with parameters:	mercedes-benz  	eqb       	 140	250
Updated   2 cars with parameters:	mercedes-benz  	eqb       	 168	300
Updated   2 cars with parameters:	mercedes-benz  	eqb       	 215	350
Updated   3 cars with parameters:	mercedes-benz  	eqa       	 140	250
Updated   0 cars with parameters:	mercedes-benz  	eqa       	 168	300
Updated   0 cars with parameters:	mercedes-benz  	eqa       	 215	350
Updated  17 cars with parameters:	nissan         	leaf      	  80
Updated  12 cars with parameters:	peugeot        	e-2008    	 100
Updated   6 cars with parameters:	peugeot        	e-208     	 100
Updated  13 cars with parameters:	toyota         	bz4x      	155.0

In [69]:
update_capacity(df, "toyota", "bz4x", 64) 

no_battery_df = df[df['batteryCapacity'] == 0]
toyotas_no_battery = no_battery_df[no_battery_df['make'] == 'toyota']['model']
toyotas_no_battery.value_counts()
get_missing_df(df, 'toyota')
print_missing_for_make(df, 'toyota')

Updated  51 cars with parameters:	toyota         	bz4x      	  64	.*
Series([], Name: count, dtype: int64)

In [70]:
mercedes = df[(df['make'] == 'mercedes-benz') & (df['model'] == 'eqe')]
print(mercedes['batteryCapacity'].value_counts())
mercedes['modelTypeName']

batteryCapacity
0.0      77
90.0     25
89.0     24
90.6     12
100.0     7
91.0      3
98.0      2
88.1      1
56.0      1
Name: count, dtype: int64

16    350+ #Suomi-auto  #Panoraamalasikatto #Premium...
17    Mercedes-AMG EQE 43 4MATIC #Suomi-auto #Premiu...
18    350+ #AMG Line #Suomi-auto #Premium #Digital L...
19                      350+ *** Korko alk. 1,95% !!! *
43    350+ #Suomi-auto #Premium #AMG-ulko-/sisä #AMG...
                            ...
89    500 4MATIC SUV ** Esittelyauto nopeaan toimitu...
92                                           350 4MATIC
97    350 4matic ** Esittelyauto nopeaan toimituksee...
7                                        350 4MATIC SUV
14    500 4MATIC SUV #Heti toimitus #AMG-Line #Nelip...
Name: modelTypeName, Length: 152, dtype: object

In [71]:
update_capacity(df, "mercedes-benz", "eqe", 89.0, r'(350|300)\s') 
update_capacity(df, "mercedes-benz", "eqe", 90.6, r'(350\+|500|43)\s') 

# let's say rest if 89. I think it could be the best guesss. usually they advertise the better model
m = ((df["make"] == 'mercedes-benz') & (df["model"] == 'eqe') & (df['batteryCapacity'] == 0))
df.loc[m,"batteryCapacity"] = 89

get_missing_df(df, "mercedes-benz", 'eqe')

Updated  67 cars with parameters:	mercedes-benz  	eqe       	89.0	(350|300)\s
Updated  64 cars with parameters:	mercedes-benz  	eqe       	90.6	(350\+|500|43)\s

/var/folders/3r/zp_fcf693r3g5yq1xc11l1j00000gn/T/ipykernel_29810/1333492688.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = (m & ((df["modelTypeName"].str.contains(re, case=False, regex=True) == True).values))

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [72]:
update_capacity(df, "mercedes-benz", "eqs", 108.4, r'(450|450\+|580|53)\s') 
update_capacity(df, "mercedes-benz", "eqs", 90.6, r'(350)\s') 

m = ((df["make"] == 'mercedes-benz') & (df["model"] == 'eqs') & (df['batteryCapacity'] == 0) & (df['power'] > 216))
df.loc[m,"batteryCapacity"] = 108.4

m = ((df["make"] == 'mercedes-benz') & (df["model"] == 'eqs') & (df['batteryCapacity'] == 0))
df.loc[m,"batteryCapacity"] = 90.6

get_missing_df(df, "mercedes-benz", 'eqs')

Updated  69 cars with parameters:	mercedes-benz  	eqs       	108.4	(450|450\+|580|53)\s
Updated   8 cars with parameters:	mercedes-benz  	eqs       	90.6	(350)\s

/var/folders/3r/zp_fcf693r3g5yq1xc11l1j00000gn/T/ipykernel_29810/1333492688.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = (m & ((df["modelTypeName"].str.contains(re, case=False, regex=True) == True).values))

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [73]:
# https://www.mercedes-benz.fi/content/dam/finland/passengercars/NEW-WLTP-pricelists/EQA/EQA_10.5.2023_1.pdf
print_info(df, 'mercedes-benz', 'eqa', r'\d{3}\+')
update_capacity(df, "mercedes-benz", "eqa", 70.5, r'\d{3}\+') 
update_capacity(df, "mercedes-benz", "eqa", 66.5, r'\d{3}') 
get_missing_df(df, "mercedes-benz", 'eqa')

batteryCapacity
66.0     1
100.0    1
70.0     1
0.0      1
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
63  250+ suuremmalla akulla Advanced 529km (WLTP) ...             66.0
15  250+ Business / Koukku / AMG Line / EQ-Navigoi...            100.0
26   250+ Business **Distronic, MBUX-inovaatiopaketti             70.0
17                                      250+ Business              0.0
Updated   4 cars with parameters:	mercedes-benz  	eqa       	70.5	\d{3}\+
Updated  73 cars with parameters:	mercedes-benz  	eqa       	66.5	\d{3}

,make,model,modelTypeName,power,kilometers,electricRange,driveType
72,mercedes-benz,eqa,* Amg paketoitu ( ! ) *,NaN,29000.0,NaN,fwd
98,mercedes-benz,eqa,,NaN,NaN,NaN,fwd
49,mercedes-benz,eqa,,140.0,23000.0,420.0,fwd
56,mercedes-benz,eqa,,168.0,7000.0,NaN,4wd
72,mercedes-benz,eqa,,NaN,3000.0,NaN,4wd
4,mercedes-benz,eqa,,5.0,NaN,NaN,fwd

In [74]:
# https://www.mercedes-benz.fi/content/dam/finland/passengercars/NEW-WLTP-pricelists/EQA/EQA_10.5.2023_1.pdf
print_info(df, 'mercedes-benz', 'eqb', r'\d{3}\+')
update_capacity(df, "mercedes-benz", "eqb", 70.5, r'\d{3}\+') 
update_capacity(df, "mercedes-benz", "eqb", 66.5, r'\d{3}') 
get_missing_df(df, "mercedes-benz", 'eqb')

Series([], Name: count, dtype: int64)
Empty DataFrame
Columns: [modelTypeName, batteryCapacity]
Index: []
Updated   0 cars with parameters:	mercedes-benz  	eqb       	70.5	\d{3}\+
Updated  78 cars with parameters:	mercedes-benz  	eqb       	66.5	\d{3}

,make,model,modelTypeName,power,kilometers,electricRange,driveType
50,mercedes-benz,eqb,,NaN,NaN,NaN,4wd
62,mercedes-benz,eqb,,168.0,8090.0,NaN,4wd
75,mercedes-benz,eqb,,140.0,NaN,NaN,fwd
99,mercedes-benz,eqb,,5.0,6000.0,NaN,4wd
22,mercedes-benz,eqb,,NaN,NaN,NaN,4wd
41,mercedes-benz,eqb,,168.0,3000.0,NaN,4wd
85,mercedes-benz,eqb,,5.0,NaN,NaN,4wd

In [75]:
print_info(df, 'mercedes-benz', 'eqc')
update_capacity(df, "mercedes-benz", "eqc", 80) 
get_missing_df(df, "mercedes-benz", 'eqc')

batteryCapacity
80.0    25
0.0     23
82.0     1
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
15                                         400 4Matic              0.0
41  400 4Matic AMG Line, Head up !! Distronic !! 3...              0.0
74                 takuu 11/23, Rahoitus alkaen 3,99%             80.0
16         400 AMG 4Matic // ALV / Huippuvarusteet //             80.0
34  400 4Matic AMG / Nahkaverhoilu / Keyless Go / ...              0.0
95                                                                 0.0
0   AMG 400 4Matic / Designo sisusta ja ulkoväri!!...              0.0
34  400 4Matic * AMG Edition, Distronic+, 360 kame...             80.0
7   400 4MATIC AMG / DTR+ / Koukku / WideScreen / ...             80.0
11  400 4Matic AMG-Line*Night Desing*Burmester / D...              0.0
26  400 4MATIC, WLTP 472km, Tunnelmavalaistus, 360...             80.0
28  400 4Matic AMG **Distonic plus / Multibeam LED...             80.0
33  400 4Matic Edition AMG-Styling! Akkutesti teht...             80.0
61  400 4Matic Edition AMG - Facelift-malli, Huipp...             80.0
80                                                                 0.0
13                                                                 0.0
19  400 4MATIC Business AMG + Kattoluukku, Astinla...             80.0
71  400 4Matic Edition AMG - Vetokoukku, Peruutusk...              0.0
78                                                                 0.0
6   400 4Matic AMG-Line Designo * Burmester / Dist...             80.0
7   400 4Matic AMG-Line Designo * Burmester / Dist...             80.0
44  400 4Matic AMG / Timantinvalkoinen / 21" vante...             80.0
18  400 4Matic - 4,69% korko ja 1000€ S-bonusostok...              0.0
59  400 AMG Line 4Matic / Distronic + / Burmester ...             82.0
62  400 4Matic AMG-Line * Burmester / Distronic+ /...              0.0
7   400 4Matic Edition AMG / Distronic+ / Burmeste...             80.0
27  400 4MATIC Business AMG ** Lisälämmitin / Dist...             80.0
89        EQC AMG Line 4Matic / Tulossa myyntiin! /                0.0
39  400 4MATIC Business 11kW AC#Tähän autoon korko...             80.0
50  SuperRahoitusTarjous 2,95% !! 400 AMG, Distron...              0.0
85     400 4Matic Business *** Korko alk. 1,95% !!! *              0.0
87  400 4MATIC Business AMG "Muistipenkit, Vetokou...              0.0
85                                                                 0.0
81  400 4Matic Edition AMG, Juuri Huollettu, 360 K...             80.0
7   400 4Matic Business AMG + Distronic, Muistipen...             80.0
52                                400 4MATIC Business              0.0
62  400 4MATIC Business ** HUD | Muistipenkit | Di...              0.0
44  400 4MATIC Business AMG * 1.Om / Suomi-auto / ...              0.0
65  4Matic Business / Tulossa! / Distronic+ / Keyl...             80.0
89  400 4MATIC Business ** Ajoavustinpaketti / Mul...             80.0
94  400 4Matic Edition AMG * Muistipaketti * 360-k...             80.0
79  400 4Matic,Premium plus,vetokoukku,kattoluukku...              0.0
54  400 4Matic AMG-STYLING SIS. ALV **AJOAVUSTINPA...              0.0
40                            400 4MATIC Business AMG             80.0
46                        EQC 400 4Matic Business AMG             80.0
37                            400 4MATIC Business AMG             80.0
60                                400 4MATIC Business              0.0
99  400 4MATIC Business AMG **Vetokoukku, Muistipe...             80.0
14  400 4MATIC Business AMG *Ajoavustinpaketti, 36...             80.0
Updated  49 cars with parameters:	mercedes-benz  	eqc       	  80	.*

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [76]:
print_missing_for_make(df, 'mercedes-benz')

model
eqs suv    8
eqb        7
eqa        6
eqv        3
vito       1
Name: count, dtype: int64

In [77]:
print_info(df, 'bmw', 'ix')
update_capacity(df, "bmw", "ix", 76.6, r'xDrive\s*40')
update_capacity(df, "bmw", 'ix', 111.5, r'xDrive\s*40', True)
get_missing_df(df, "bmw", 'ix')

batteryCapacity
0.0      33
71.0      5
111.0     4
76.6      3
77.0      3
76.0      3
111.5     2
105.0     1
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
92  xDrive40 // BMW Premium Selection -takuu 24kk/...              0.0
20  xDrive40 Fully Charged / Adapt.cruise / HUD / ...             76.6
28  xDrive40 *SUPERVARUSTEET! 22"/LASER/HUD/PANORA...              0.0
88  xDrive40 Fully Charged, WLTP 372km, Harman/Kar...              0.0
55  xDrive50 //H&K/Laser/Ilmajousitus/Nelipyöräohj...              0.0
71  xDrive40 Fully Charged 11CF *** Korko alk. 1,9...              0.0
88  xDrive40, WLTP 372km, Sähkösäätöiset Etuistuim...             71.0
15  xDrive40 Fully Charged *ESITTELYAUTO* Hinta uu...              0.0
42  xDrive40 Fully Charged // Huippuvarusteet  **B...              0.0
44   xDrive50 Signature *** Tämä auto nyt etuhintaan!              0.0
62        xDrive40 *** BMW Rahoitusetu 2,90% (+kulut)              0.0
63  Akku 77kWh xDrive40 Fully Charged Aut. 326hv |...             77.0
22  1-om, M-Sport, HUD, Panorama, Harman&Kardon Ra...              0.0
85  xDrive40, WLTP 372km, HUD, Kamera, Sähkösäätöi...             71.0
12  xDrive40 Fully Charged // Sport paketti/Ajoavu...              0.0
82  xDrive40 Fully Charged, WLTP 372km, Innovation...             71.0
83  xDrive40 Fully Charged // H&K/ Sky Lounge/ Las...              0.0
34  xDrive40 Fully Charged // Skylounge/ Laser/ Dr...              0.0
63   xDrive50 Fully Charged *** BMW Premium Selection            111.5
32  Sport paketti. Takuualainen (tehtaan täystakuu...              0.0
70  xDrive40 Fully Charged *SOFT CLOSE OVET, SPORT...             76.0
5   xDrive40 / Sport-paketti / HUD / ACC / Ilmasto...             76.0
27  xDrive50 Fully Charged / Supervarusteet / Spor...            111.0
63                   xDrive50 Fully Charged Signature              0.0
87  50 xDrive Sport Vetokoukku/Nelipyöräohjaus/Sui...              0.0
49         xDrive40 Fully Charged **huippuvarusteet**             71.0
84  xDrive40 - Black Sapphire / Atelier Mokka (SAM...             77.0
6   xDrive40 / Tulossa Ouluun / Sport Package / Dr...             76.0
40  xDrive40 - 3,99% korko ja 1000€ S-bonusostokir...             77.0
14    xDrive50 Fully Charged - *BPS Takuu 24kk/40tkm*              0.0
14        xDrive40 *** BMW Rahoitusetu 2,90% (+kulut)             76.6
62  xDrive40 Fully Charged 11CF *** Korko alk. 1,9...              0.0
70                                           xDrive40              0.0
72                                                                 0.0
74     xDrive40 - Upea sähköauto nopeaan toimitukseen              0.0
78  xDrive40 Fully Charged Sport Ilmajousituksella...             76.6
10  xDrive40 Fully Charged Sport *** Korko alk. 1,...              0.0
34                            xDrive 40 Fully Charged              0.0
8   xDrive50 Fully Charged *** Korko alk. 1,95% !!! *              0.0
25  xDrive50 Fully Charged Sport Heti toimitukseen...            111.5
40  xDrive40 Fully Charged "Runsailla varusteilla"...             71.0
98  xDrive50 Fully Charged //Sky Lounge/Laser/H&K/...              0.0
9   xDrive50 Fully Charged **Sport-paketti, Soft-c...              0.0
13  xDrive50 Fully Charged Sky Lounge / Vetokoukku...            105.0
64  M60 - BPS vaihtoautotakuu 24 kk - Korko 3,99% ...              0.0
29  xDrive40 Fully Charged Sport *** Korko alk. 1,...              0.0
83  xDrive40 Fully Charged, Sport-paketti, Laser v...              0.0
38                                                                 0.0
68                                      xDrive50 21CF              0.0
94  M60 / B&W / Sky Lounge / Soft Close / Vetokouk...            111.0
29  M60 // Bowers & Wilkins Diamond / Imuovet / Sk...            111.0
43  xDrive50 Fully Charged // Ilmajousitus / Tulos...            111.0
68                                                                 0.0
75                                           xDrive50              0.0
Updated  31 cars with parameters:	bmw            	ix        	76.6	xDrive\s*40
Updated  23 cars with parameters:	bmw            	ix        	111.5	xDrive\s*40

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [78]:
print_info(df, 'bmw', 'ix')
update_capacity(df, "bmw", "ix", 76.6, r'xDrive\s*40')
update_capacity(df, "bmw", 'ix', 111.5, r'xDrive\s*40', True)
get_missing_df(df, "bmw", 'ix')

batteryCapacity
76.6     31
111.5    23
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
92  xDrive40 // BMW Premium Selection -takuu 24kk/...             76.6
20  xDrive40 Fully Charged / Adapt.cruise / HUD / ...             76.6
28  xDrive40 *SUPERVARUSTEET! 22"/LASER/HUD/PANORA...             76.6
88  xDrive40 Fully Charged, WLTP 372km, Harman/Kar...             76.6
55  xDrive50 //H&K/Laser/Ilmajousitus/Nelipyöräohj...            111.5
71  xDrive40 Fully Charged 11CF *** Korko alk. 1,9...             76.6
88  xDrive40, WLTP 372km, Sähkösäätöiset Etuistuim...             76.6
15  xDrive40 Fully Charged *ESITTELYAUTO* Hinta uu...             76.6
42  xDrive40 Fully Charged // Huippuvarusteet  **B...             76.6
44   xDrive50 Signature *** Tämä auto nyt etuhintaan!            111.5
62        xDrive40 *** BMW Rahoitusetu 2,90% (+kulut)             76.6
63  Akku 77kWh xDrive40 Fully Charged Aut. 326hv |...             76.6
22  1-om, M-Sport, HUD, Panorama, Harman&Kardon Ra...            111.5
85  xDrive40, WLTP 372km, HUD, Kamera, Sähkösäätöi...             76.6
12  xDrive40 Fully Charged // Sport paketti/Ajoavu...             76.6
82  xDrive40 Fully Charged, WLTP 372km, Innovation...             76.6
83  xDrive40 Fully Charged // H&K/ Sky Lounge/ Las...             76.6
34  xDrive40 Fully Charged // Skylounge/ Laser/ Dr...             76.6
63   xDrive50 Fully Charged *** BMW Premium Selection            111.5
32  Sport paketti. Takuualainen (tehtaan täystakuu...            111.5
70  xDrive40 Fully Charged *SOFT CLOSE OVET, SPORT...             76.6
5   xDrive40 / Sport-paketti / HUD / ACC / Ilmasto...             76.6
27  xDrive50 Fully Charged / Supervarusteet / Spor...            111.5
63                   xDrive50 Fully Charged Signature            111.5
87  50 xDrive Sport Vetokoukku/Nelipyöräohjaus/Sui...            111.5
49         xDrive40 Fully Charged **huippuvarusteet**             76.6
84  xDrive40 - Black Sapphire / Atelier Mokka (SAM...             76.6
6   xDrive40 / Tulossa Ouluun / Sport Package / Dr...             76.6
40  xDrive40 - 3,99% korko ja 1000€ S-bonusostokir...             76.6
14    xDrive50 Fully Charged - *BPS Takuu 24kk/40tkm*            111.5
14        xDrive40 *** BMW Rahoitusetu 2,90% (+kulut)             76.6
62  xDrive40 Fully Charged 11CF *** Korko alk. 1,9...             76.6
70                                           xDrive40             76.6
72                                                               111.5
74     xDrive40 - Upea sähköauto nopeaan toimitukseen             76.6
78  xDrive40 Fully Charged Sport Ilmajousituksella...             76.6
10  xDrive40 Fully Charged Sport *** Korko alk. 1,...             76.6
34                            xDrive 40 Fully Charged             76.6
8   xDrive50 Fully Charged *** Korko alk. 1,95% !!! *            111.5
25  xDrive50 Fully Charged Sport Heti toimitukseen...            111.5
40  xDrive40 Fully Charged "Runsailla varusteilla"...             76.6
98  xDrive50 Fully Charged //Sky Lounge/Laser/H&K/...            111.5
9   xDrive50 Fully Charged **Sport-paketti, Soft-c...            111.5
13  xDrive50 Fully Charged Sky Lounge / Vetokoukku...            111.5
64  M60 - BPS vaihtoautotakuu 24 kk - Korko 3,99% ...            111.5
29  xDrive40 Fully Charged Sport *** Korko alk. 1,...             76.6
83  xDrive40 Fully Charged, Sport-paketti, Laser v...             76.6
38                                                               111.5
68                                      xDrive50 21CF            111.5
94  M60 / B&W / Sky Lounge / Soft Close / Vetokouk...            111.5
29  M60 // Bowers & Wilkins Diamond / Imuovet / Sk...            111.5
43  xDrive50 Fully Charged // Ilmajousitus / Tulos...            111.5
68                                                               111.5
75                                           xDrive50            111.5
Updated  31 cars with parameters:	bmw            	ix        	76.6	xDrive\s*40
Updated  23 cars with parameters:	bmw            	ix        	111.5	xDrive\s*40

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [79]:
print_info(df, 'bmw', 'ix1')
update_capacity(df, "bmw", "ix1", 66.5)
get_missing_df(df, "bmw", 'ix1')

batteryCapacity
0.0     33
68.0    13
64.0     2
64.7     1
64.8     1
66.0     1
67.0     1
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
2            xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
5            xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
66  U11 30 xDrive Charged Edition - *Heti toimituk...              0.0
73                              M Sport U11 30 xDrive             64.0
50  U11 30 xDrive M-Sport - Adaptiviinen vakionope...             64.7
43  30 xDrive, WLTP 440km, M-Sport, Kamera, Drivin...              0.0
74  30e xDrive /Driving assistant plus /Harman Kar...              0.0
87           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
81           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
63  U11 30 xDrive (M Sport) *** BMW Rahoitusetu 2,...              0.0
74  U11 30 xDrive Charged Edition *** Tämä auto ny...              0.0
2        U11 30 xDrive xLine, täyssähkö esittelyauto!             64.8
24           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
66  U11 30 xDrive *ESITTELYAUTO* Hinta uutena ~69 ...              0.0
83           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
28  xDrive30 xLine Charged Plus *** Korko alk. 1,9...              0.0
30  U11 30 xDrive Charged Plus *** BMW Rahoitusetu...              0.0
37  U11 30 xDrive Charged Plus *** BMW Rahoitusetu...              0.0
62  U11 30 xDrive M Sport // Heti ajoon *** BMW Ra...             68.0
63   U11 30 xDrive *** BMW Rahoitusetu 2,90% (+kulut)              0.0
65           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
66           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
82           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
94  U11 30 xDrive Charged Edition *Esittelyauto he...             66.0
23  U11 30 xDrive Charged Edition M Sport // BMW Y...             68.0
28  U11 30 xDrive Charged Edition // Heti toimituk...             68.0
59  U11 30 XDrive M-Sport Individual - Matta Grey!...             64.0
33  U11 30 xDrive Charged Plus // Hinta uutena ~ 7...             68.0
4                          U11 30 xDrive Charged Plus              0.0
84                      U11 30 xDrive Charged Edition              0.0
10  xDrive30 M-Sport Fully Charged Individual erik...              0.0
59           xDrive30 61EF *** Korko alk. 1,95% !!! *              0.0
85                xDrive30 *** Korko alk. 1,95% !!! *              0.0
28  xDrive30 Charged xLine *** Korko alk. 1,95% !!! *              0.0
30  xDrive30 xLine Charged ,Harman&Kardon ym. *** ...              0.0
93  U11 30 xDrive // Heti toimitukseen! *** BMW Ra...             68.0
99  U11 30 xDrive // Heti toimitukseen! *** BMW Ra...             68.0
7   U11 30 xDrive Charged Edition *ESITTELYAUTO* H...             68.0
53                      U11 30 xDrive Charged Edition              0.0
65     30e xDrive **Tulossa** - Korko 3,99% + kulut!!              0.0
15  U11 30 xDrive X-Line  * Korko 4,99% / HUD / AC...             67.0
60  xDrive M-Sport // Comfort access / HUD / Parki...             68.0
4                         U11 30 xDrive Fully Charged              0.0
8                       U11 30 xDrive Charged Edition              0.0
34                        U11 30 xDrive Fully Charged              0.0
66           xDrive30 M-Sport - Korko 3,99% + kulut!!              0.0
27                                      U11 30 xDrive              0.0
38  U11 30 xDrive Charged Plus *** BMW Rahoitusetu...             68.0
74  30e xDrive M-Sport - Vetokoukku! Met.valkoinen...             68.0
33                        U11 30 xDrive Fully Charged             68.0
35  U11 30 xDrive Charged Plus *** BMW Rahoitusetu...             68.0
57   U11 30 xDrive *** BMW Rahoitusetu 2,90% (+kulut)             68.0
Updated  52 cars with parameters:	bmw            	ix1       	66.5	.*

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [80]:
print_info(df, 'bmw', 'i4')
update_capacity(df, "bmw", "i4", 83.9)
get_missing_df(df, "bmw", 'i4')

batteryCapacity
83.0    32
0.0     29
81.0     5
83.9     5
84.0     4
80.0     2
80.7     1
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
7                   eDrive40 M-Sport *HUD*ACC*Kamera*             81.0
18  eDrive 40 M-Sport, WLTP 590km, Adaptiivinen Va...             81.0
75  eDrive40 M Sport Pro #Jatkotakuu #ACC #Harman/...             84.0
8   M-Sport / Aktiivinen vakionopeudensäädin / Per...             84.0
46  eDrive40 M-Sport * Takuu 02/2024 / Harman Kard...             84.0
..                                                ...              ...
58  M50 Super Charged *** BMW Rahoitusetu 2,90% (+...             83.0
77                                                M50             83.0
78        eDrive40 *** BMW Rahoitusetu 2,90% (+kulut)             83.0
80  M50 // Hinta uutena ~ 78 510€ // Luovutus 12 /...             83.0
90                                   eDrive40 Charged              0.0

[78 rows x 2 columns]
Updated  78 cars with parameters:	bmw            	i4        	83.9	.*

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [81]:
print_info(df, 'bmw', 'i4 m50')
update_capacity(df, "bmw", "i4 m50", 83.9)
get_missing_df(df, "bmw", 'i4 m50')

batteryCapacity
0.0     23
83.0    13
83.9     7
84.0     4
81.0     4
82.0     1
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
9   M50 // Driving assistant+/ Laser/ Comfort acce...             83.9
77  xDrive - M-Sport, Adaptiivinen alusta - sähkös...             83.0
80  Laserajovalot, Driving assistant+, Hifi, HUD, ...              0.0
87  G26 M50 * Korko 4,99% / ACC / Harman Kardon / ...             84.0
41                                             M50 i4              0.0
62  i4 M50 - Korkokampanja 3.99%+kulut - Suomiauto...              0.0
99  M50 - *Korko 3,99%+kulut + Kotiintoimitus alka...              0.0
80  X-Drive - M-Sport -Carbon -pack - 20” Multispo...             83.0
83  ** Vetokoukku / HIFI / BMW Live Cockpit Plus /...             83.0
14                               M50 i4 Fully Charged              0.0
76  Huippu varusteet! BMW Individual metalliväri, ...             84.0
35  M50 // Takuu / ACC / Kamera / M Sport - pakett...              0.0
44  Super Charged - Frozen Portimao Blue, Supervar...             83.9
83  xDrive - M Brooklyn Grey metallic / M Sport Ae...             83.0
32                               M50 i4 Fully Charged              0.0
33  M50//M sport paketti / M Sport alusta / Hifit ...             83.0
43  Charged Plus *Adapt. M Sport- alusta, Vetok., ...              0.0
45  Super Charged *Laservalot, Nahat, Vetok., M Sp...              0.0
78  xDrive - M Sport, Harman/Kardon, Comfort Acces...              0.0
86  Gran Coupe Super Charged, WLTP 520km, Kamera, ...             82.0
93  G26 M50 * Korko 4,99% / ACC / Harman Kardon / ...             84.0
92       M50 Super Charged *** Korko alk. 1,95% !!! *              0.0
58  VAIHTO mahd - Supercharged - Laservalot - Kats...              0.0
63  M50 Fully Charged // Vetokoukku / Harman&Kardo...              0.0
81  G26 SUPERCHARGED* 5VUODEN TAKUU/HUOLLOT* LASER...             83.9
47  M50 i4 **Comfort access / Aktiivinen vakionope...              0.0
63  Fully Charged **HiFi  / Lasikattoluukku / Nahk...             83.9
27  / Harman Kardon® / ACC / Driving Assistant Pro...              0.0
67  M50 * LASER * KOUKKU * 544HV * HARMAN KARDON *...             83.0
3   xDrive Super Charged #544hv #huippuvarusteltu ...             83.0
23  // M Sport Pro -pack / ACC / Harman/Kardon / M...             83.0
30  Charged - Suomi-auto, 1- Omistajalta, Harman &...             83.0
43  Fully Charged - 2 x renkaat, neliveto, mukautu...             81.0
48                                                                 0.0
72  xDrive - 2 x renkaat vanteineen, Vetokoukku, M...             83.9
79  M50 // ACC / Harman & Kardon / Sanremo Green m...             83.0
95  Uusin malli, M Sport, Xdrive, hyvillä varustei...              0.0
97                                                                81.0
99                     i4 M50 Sedan HUIPPUVARUSTELTU!              0.0
99                                                                81.0
0   i4 M50 Sedan (AA) 4ov A * Portimao blue * Canb...              0.0
16  xDrive - M Sport | Harman/Kardon | Comfort Acc...             83.0
42  G26 i4 M50 * 544hv & 795Nm / HarmanKardon / AC...             81.0
39  SUPERVARUSTEET / M-ISTUIMET / HEAD-UP / LASER-...              0.0
69  Charged - Uusin malli! Suomiauto, HUD, Sähköpe...             83.0
97  M50 // Adapt. Vakkari / Laser-ajovalot / Harma...             83.0
47  G26 i4 M50 * 544hv & 795Nm / Harman Kardon / A...             84.0
52  Super Charged *** Esittelyauto Lappeenrannasta...              0.0
90  / Juuri tullut! / Harman Kardon / Alle 50km aj...             83.9
90  i4 M50 Grand Coupe, M-Sport, 544HV, "Varustelt...              0.0
6   xDrive Sähköpenkit, Nahkaverhoilu, Driving ass...             83.9
75                                                M50              0.0
Updated  52 cars with parameters:	bmw            	i4 m50    	83.9	.*

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [82]:
update_capacity(df, "bmw", "ix3", 80.0)
update_capacity(df, "bmw", "i7", 101.7)
update_capacity(df, "bmw", "ix m50", 111.5)

print_missing_for_make(df, 'bmw')

Updated  39 cars with parameters:	bmw            	ix3       	80.0	.*
Updated   9 cars with parameters:	bmw            	i7        	101.7	.*
Updated   0 cars with parameters:	bmw            	ix m50    	111.5	.*
model
i3        4
i3s       3
ix m60    3
Name: count, dtype: int64

In [83]:
update_capacity(df, "tesla", "model 3", (54+55)/2, "standard[-|\s]*range") 
update_capacity(df, "tesla", "model 3", ((78+79.5)/2), "long[\s|-]range|performance")
get_missing_df(df, "tesla", "model 3")

Updated  37 cars with parameters:	tesla          	model 3   	54.5	standard[-|\s]*range
Updated  90 cars with parameters:	tesla          	model 3   	78.75	long[\s|-]range|performance

,make,model,modelTypeName,power,kilometers,electricRange,driveType
23,tesla,model 3,",Refresh, Eap, ilp, Chrome delete, 20""Uber tur...",377.0,25000.0,NaN,4wd
25,tesla,model 3,*Tummennukset*Ilp*,324.0,48000.0,NaN,4wd
37,tesla,model 3,,340.0,20000.0,NaN,4wd
68,tesla,model 3,"ILP, Sähk. takaluukku, Panoramakatto, Autopilo...",211.0,35000.0,NaN,rwd
35,tesla,model 3,*Vaihto *Rahoitus *Takuu,340.0,28991.0,NaN,4wd
87,tesla,model 3,"Facelift, Tehdastakuu, Autopilot, KW alusta, K...",513.0,36000.0,NaN,4wd
29,tesla,model 3,,239.0,28000.0,NaN,rwd
39,tesla,model 3,SR+ / Autopilot / Premium Audio / ILP / Panor...,NaN,123000.0,NaN,rwd
55,tesla,model 3,,NaN,21340.0,NaN,4wd
56,tesla,model 3,,510.0,45285.0,NaN,4wd
63,tesla,model 3,,440.0,86222.0,NaN,4wd
83,tesla,model 3,TULOSSA! Rahoitus jopa ilman käsirahaa!,377.0,64000.0,NaN,4wd
90,tesla,model 3,,211.0,32000.0,NaN,rwd
79,tesla,model 3,,513.0,21000.0,NaN,4wd
95,tesla,model 3,** Facelift / 2x renkaat,377.0,27000.0,NaN,4wd
97,tesla,model 3,Punainen erikoisväri / Valkoinen nahkaverhoilu,534.0,22000.0,NaN,4wd
48,tesla,model 3,"Punainen erikoisväri, Refresh, Panorama katto",534.0,15000.0,540.0,4wd
98,tesla,model 3,"SR+ - AMD Ryzen, Panoramakatto, Tehdastakuu",NaN,9000.0,NaN,rwd
47,tesla,model 3,626km *Rek 8/23 Yksiomisteinen Suomiauto AMD R...,NaN,1000.0,NaN,rwd

In [84]:
update_capacity(df, "tesla", "model y", 78.1, "standard[-|\s]*range")
update_capacity(df, "tesla", "model y", 78.1, "long[\s|-]range|performance")
get_missing_df(df, "tesla", "model y")

Updated   0 cars with parameters:	tesla          	model y   	78.1	standard[-|\s]*range
Updated 111 cars with parameters:	tesla          	model y   	78.1	long[\s|-]range|performance

,make,model,modelTypeName,power,kilometers,electricRange,driveType
66,tesla,model y,,NaN,58000.0,NaN,4wd
29,tesla,model y,Model Y Monikäyttöajoneuvo (AF) 5ov - MODEL Y ...,5.0,22000.0,NaN,4wd
99,tesla,model y,Prem. Audio & Nahat / ilmalämpöpumppu/autopilotti,258.0,32100.0,NaN,4wd
0,tesla,model y,"* Valkoinen * 20"" Induction vanteet * AMD Ryze...",258.0,9300.0,NaN,4wd
8,tesla,model y,* Vetokoukku * AMD ryzen * ilmalämpöpumppu *,340.0,18000.0,NaN,4wd
75,tesla,model y,Rear-Wheel Drive RWD Aut.| Vetokoukku | AMD Ry...,NaN,26400.0,NaN,rwd
92,tesla,model y,"Parannettu Autopilot, Teslan irrotettava Vetok...",514.0,49000.0,NaN,4wd
48,tesla,model y,,534.0,11000.0,NaN,4wd
62,tesla,model y,VAIHTO / RAHOITUS!!,336.0,26000.0,520.0,4wd
70,tesla,model y,"Vetokoukku, Midnight Cherry Red",336.0,5900.0,NaN,4wd
12,tesla,model y,RWD / Suomi-auto / ALV / Uusi auto / Heti ajoo...,NaN,900.0,NaN,rwd
79,tesla,model y,"RWD - Lähes ajamaton Suomiauto! - 4,69% korko ...",220.0,300.0,NaN,rwd
8,tesla,model y,Model Y Monikäyttöajoneuvo (AF) 5ov - Lähes aj...,220.0,300.0,NaN,rwd

In [85]:
print_missing_for_make(df, 'tesla')

model
model 3    19
model y    13
model s     3
model x     1
Name: count, dtype: int64

In [86]:
# https://www.media.volvocars.com/global/en-gb/models/xc40-recharge/2023/specifications
# https://www.media.volvocars.com/global/en-gb/models/c40-recharge/2023/specifications
update_capacity(df, "volvo", "xc40", 78, "recharge\s*twin")
update_capacity(df, "volvo", "xc40", 69, "recharge")
update_capacity(df, "volvo", "c40", 78, "recharge\s*twin")
update_capacity(df, "volvo", "c40", 69, "recharge")

print_missing_for_make(df, 'volvo')

Updated  28 cars with parameters:	volvo          	xc40      	  78	recharge\s*twin
Updated  68 cars with parameters:	volvo          	xc40      	  69	recharge
Updated  57 cars with parameters:	volvo          	c40       	  78	recharge\s*twin
Updated  77 cars with parameters:	volvo          	c40       	  69	recharge
model
xc40    7
c40     4
Name: count, dtype: int64

In [87]:
# https://ev-database.org/car/1586/Opel-Mokka-e 50
# https://ev-database.org/uk/car/1585/Vauxhall-Corsa-e 50
update_capacity(df, "opel", "mokka-e", 50)
update_capacity(df, "opel", "corsa-e", 50)

print_missing_for_make(df, 'opel')

Updated  77 cars with parameters:	opel           	mokka-e   	  50	.*
Updated  28 cars with parameters:	opel           	corsa-e   	  50	.*
model
mokka       4
zafira-e    1
Name: count, dtype: int64

In [88]:
# https://en.wikipedia.org/wiki/Audi_Q4_e-tron
# https://ev-database.org/car/1355/Audi-e-tron-55-quattro 95
# https://en.wikipedia.org/wiki/Audi_Q8_e-tron
# https://ev-database.org/car/1420/Audi-e-tron-GT-quattro 93.4
# https://ev-database.org/car/1153/Audi-e-tron-GT-RS 93.4
update_capacity(df, "audi", "q4 e-tron", 55, "35")
update_capacity(df, "audi", "q4 e-tron", 82, "40|45|50")
update_capacity(df, "audi", "e-tron", 95, "55.*quattro")
update_capacity(df, "audi", "e-tron", 71, "50.*(q|g)uattro")
update_capacity(df, "audi", "e-tron", 95, "Sportback 55")
update_capacity(df, "audi", "e-tron", 95, "Sportback S")
update_capacity(df, "audi", "q8 e-tron", 95, "55.*quattro")
update_capacity(df, "audi", "q8 e-tron", 71, "50.*quattro")
update_capacity(df, "audi", "q8 e-tron", 95, "Sportback 55")
update_capacity(df, "audi", "q8 e-tron", 71, "Sportback 50")
update_capacity(df, "audi", "e-tron gt", 93.4)
update_capacity(df, "audi", "e-tron gt rs", 93.4)

print_missing_for_make(df, 'audi')

Updated  18 cars with parameters:	audi           	q4 e-tron 	  55	35
Updated  98 cars with parameters:	audi           	q4 e-tron 	  82	40|45|50
Updated  28 cars with parameters:	audi           	e-tron    	  95	55.*quattro
Updated  15 cars with parameters:	audi           	e-tron    	  71	50.*(q|g)uattro
Updated   4 cars with parameters:	audi           	e-tron    	  95	Sportback 55
Updated  10 cars with parameters:	audi           	e-tron    	  95	Sportback S
Updated  13 cars with parameters:	audi           	q8 e-tron 	  95	55.*quattro
Updated  20 cars with parameters:	audi           	q8 e-tron 	  71	50.*quattro
Updated   9 cars with parameters:	audi           	q8 e-tron 	  95	Sportback 55
Updated  13 cars with parameters:	audi           	q8 e-tron 	  71	Sportback 50
Updated  26 cars with parameters:	audi           	e-tron gt 	93.4	.*
Updated  14 cars with parameters:	audi           	e-tron gt rs	93.4	.*
model
e-tron       2
q4 e-tron    2
q8 e-tron    1
Name: count, dtype: int64

/var/folders/3r/zp_fcf693r3g5yq1xc11l1j00000gn/T/ipykernel_29810/1333492688.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  m = (m & ((df["modelTypeName"].str.contains(re, case=False, regex=True) == True).values))

In [89]:
print_info(df, 'audi', 'q8 e-tron')

batteryCapacity
71.0     25
95.0     13
106.0     1
0.0       1
Name: count, dtype: int64
                                        modelTypeName  batteryCapacity
8                  Sportback 50 quattro Progress Plus             71.0
42  55 Sportback, WLTP 540km, Musta Optiikka -pake...            106.0
98                   50 quattro S line Launch Edition             71.0
6                 Sportback 50 quattro Launch Edition             71.0
12  Sportback e-tron Launch Edition S line 50 quat...             71.0
45                        Sportback 50 Launch Edition             71.0
46                          50 quattro Launch Edition             71.0
99  Sportback 50 S line Launch Edition *Head-Up Di...             71.0
3                    50 quattro s-line Launch Edition             71.0
9   Sportback 50 quattro 250kw Progress Plus Katta...             71.0
12  Sportback 50 quattro 250kw Progress Plus Todel...             71.0
20                 Sportback 50 S line Launch Edition             71.0
37                 Sportback 50 quattro Progress Plus             71.0
7   Sportback 50 quattro Progress Plus **Kitkarenk...             71.0
36  50 quattro Launch Edition   *Tyylikäs Audi Q8 ...             71.0
42  55 quattro Progress Plus    **Tämä Audi Q8 e-t...             95.0
48  Sportback 50 Launch Edition *HETI VAPAA ESITTE...             71.0
32               Sportback 50 quattro Progress S line             71.0
78  50 Progress S-Line, Panorama, B&O, 360-kamera ...              0.0
90               Sportback 55 quattro Progress S line             95.0
4                  Sportback 55 quattro Progress Plus             95.0
65               Sportback 55 quattro Progress S line             95.0
77               Sportback 55 quattro Progress S line             95.0
57                 Sportback 55 quattro Progress Plus             95.0
11  Sportback 50 quattro Progress S Line - Vaihtoe...             71.0
94  Sportback 55 e-tron quattro Progress S line - ...             95.0
0                  Sportback 50 S line Launch Edition             71.0
1                           50 quattro Launch Edition             71.0
2        50 quattro Launch Edition  KORKO ALK. 1,95 %             71.0
3   50 quattro S line Launch Edition *** Korko alk...             71.0
5                  Sportback 55 quattro Progress Plus             95.0
7         Progress S line 50 e-tron quattro 250,00 kW             71.0
10  55 quattro Progress S line Bang & Olufsen Pano...             95.0
31  50 quattro Progress Sport Active Cruise Kamera...             71.0
52               Sportback 55 quattro Progress S line             95.0
61               Sportback 55 quattro Progress S line             95.0
62     Sportback Progress 50 e-tron quattro 250,00 kW             71.0
74  55 quattro S line / Panorama / ACC / Sähkökouk...             95.0
82  Sportback Progress Plus 55 e-tron quattro 300,...             95.0
84                                50 quattro Progress             71.0

In [90]:
# Kiat
# https://ev-database.org/car/1666/Kia-Niro-EV 68
# https://www.kia.com/content/dam/kwcms/kme/uk/en/assets/vehicles/EV6/Specification/Kia%20EV6%20Spec%20Sheet%20May%202021.pdf (ev6) 77.5
# https://ev-database.org/car/1288/Kia-e-Soul-64-kWh 67.5
# https://ev-database.org/car/1666/Kia-Niro-EV 68
# https://ev-database.org/car/1835/Kia-EV9-998-kWh-AWD 99.8
update_capacity(df, "kia", "niro", 68)
update_capacity(df, "kia", "ev6", 77.5)
update_capacity(df, "kia", "e-soul",  67.5)
update_capacity(df, "kia", "niro ev",  68)
update_capacity(df, "kia", "ev9", 99.8)

print_missing_for_make(df, 'kia')

Updated 108 cars with parameters:	kia            	niro      	  68	.*
Updated 136 cars with parameters:	kia            	ev6       	77.5	.*
Updated  39 cars with parameters:	kia            	e-soul    	67.5	.*
Updated   4 cars with parameters:	kia            	niro ev   	  68	.*
Updated   4 cars with parameters:	kia            	ev9       	99.8	.*
Series([], Name: count, dtype: int64)

In [91]:
update_capacity(df, "skoda", "enyaq", 82, r'4x4')
update_capacity(df, "skoda", "enyaq", 82, r'80')
update_capacity(df, "skoda", "enyaq", 62, r'60')

print_missing_for_make(df, 'skoda')
get_missing_df(df, 'skoda', 'enyaq')

Updated 105 cars with parameters:	skoda          	enyaq     	  82	4x4
Updated 234 cars with parameters:	skoda          	enyaq     	  82	80
Updated  49 cars with parameters:	skoda          	enyaq     	  62	60
model
enyaq    9
Name: count, dtype: int64

     make  model modelTypeName  power  kilometers electricRange driveType
92  skoda  enyaq                150.0     39000.0           NaN       rwd
92  skoda  enyaq                  NaN     29000.0           NaN       rwd
39  skoda  enyaq                  5.0     29000.0           NaN       rwd
5   skoda  enyaq                  NaN         NaN         405.0       rwd
7   skoda  enyaq                195.0      1000.0           NaN       4wd
50  skoda  enyaq                195.0        78.0           NaN       4wd
66  skoda  enyaq                  5.0      2000.0           NaN       rwd
88  skoda  enyaq                  NaN     16555.0           NaN       4wd
5   skoda  enyaq                150.0      5851.0           NaN       rwd

In [92]:
print_missing_for_make(df, 'volkswagen')
update_capacity(df, "volkswagen", "id5", 77, r'GTX')
update_capacity(df, "volkswagen", "id5", 77, r'128 KW')
update_capacity(df, "volkswagen", "id4", 77, r'Pro Performance')
update_capacity(df, "volkswagen", "id3", 58, r'akku 58')
update_capacity(df, "volkswagen", "id3", 42, r'pure')
update_capacity(df, "volkswagen", "id3", 58, r'pro business')
update_capacity(df, "volkswagen", "id3", 77, r'pro s business')


get_missing_df(df, 'volkswagen', 'id3')

model
id5         6
id3         6
id4         2
up!         1
id. buzz    1
Name: count, dtype: int64
Updated  30 cars with parameters:	volkswagen     	id5       	  77	GTX
Updated  22 cars with parameters:	volkswagen     	id5       	  77	128 KW
Updated  93 cars with parameters:	volkswagen     	id4       	  77	Pro Performance
Updated 124 cars with parameters:	volkswagen     	id3       	  58	akku 58
Updated   9 cars with parameters:	volkswagen     	id3       	  42	pure
Updated  23 cars with parameters:	volkswagen     	id3       	  58	pro business
Updated  11 cars with parameters:	volkswagen     	id3       	  77	pro s business

,make,model,modelTypeName,power,kilometers,electricRange,driveType
62,volkswagen,id3,"Pro Business Plus 150 kW, akku KORKO ALK 1,95 %",150.0,NaN,NaN,rwd

In [93]:
# https://media.porsche.com/mediakit/taycan/en/porsche-taycan/die-batterie
# performance battery plus = 93.4 ja performance battery = 79.2
print_missing_for_make(df, 'porsche')
update_capacity(df, "porsche", "taycan", 93.4, r'Cross Turismo')
update_capacity(df, "porsche", "taycan", 93.4, r'Sport Turismo')
update_capacity(df, "porsche", "taycan", 93.4, r'Performance Battery Plus')
update_capacity(df, "porsche", "taycan", 93.4, r'turbo')
update_capacity(df, "porsche", "taycan", 93.4, r'gts')
update_capacity(df, "porsche", "taycan", 93.4, r'Perf. Battery\+')
update_capacity(df, "porsche", "taycan", 79.2, r'4s')

m = ((df["make"] == 'porsche') & (df["model"] == 'taycan') & (df['batteryCapacity'] == 0) & (df['power'] == 300))
df.loc[m,"batteryCapacity"] = 79.2

m = ((df["make"] == 'porsche') & (df["model"] == 'taycan') & (df['batteryCapacity'] == 0) & (df['power'] >= 420))
df.loc[m,"batteryCapacity"] = 93.4

get_missing_df(df, 'porsche', 'taycan')

model
taycan    39
Name: count, dtype: int64
Updated  38 cars with parameters:	porsche        	taycan    	93.4	Cross Turismo
Updated  12 cars with parameters:	porsche        	taycan    	93.4	Sport Turismo
Updated   6 cars with parameters:	porsche        	taycan    	93.4	Performance Battery Plus
Updated  10 cars with parameters:	porsche        	taycan    	93.4	turbo
Updated   6 cars with parameters:	porsche        	taycan    	93.4	gts
Updated   2 cars with parameters:	porsche        	taycan    	93.4	Perf. Battery\+
Updated  40 cars with parameters:	porsche        	taycan    	79.2	4s

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [94]:
print_missing_for_make(df, 'hyundai')
# https://www.hyundai.fi/mallisto/ioniq-5/ominaisuudet/
update_capacity(df, "hyundai", "ioniq 5", 77.4)
update_capacity(df, "hyundai", "ioniq 6", 77.4)

get_missing_df(df, 'hyundai', 'ioniq 6')

model
ioniq 5           7
ioniq 6           6
kona              1
ioniq electric    1
Name: count, dtype: int64
Updated  84 cars with parameters:	hyundai        	ioniq 5   	77.4	.*
Updated  45 cars with parameters:	hyundai        	ioniq 6   	77.4	.*

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [95]:
print_missing_for_make(df, 'peugeot')
update_capacity(df, "peugeot", "e-208", 50)
update_capacity(df, "peugeot", "e-2008", 50)

get_missing_df(df, 'peugeot', 'e-208')

model
e-208     8
e-2008    6
Name: count, dtype: int64
Updated  54 cars with parameters:	peugeot        	e-208     	  50	.*
Updated  33 cars with parameters:	peugeot        	e-2008    	  50	.*

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [96]:
print_missing_for_make(df, 'polestar')
update_capacity(df, "polestar", "2", 75, r'Long Range')
update_capacity(df, 'polestar', '2', 78, r'Engineered BST 270')
update_capacity(df, "polestar", "2", 67, r'Standard Range')

m = ((df["make"] == 'polestar') & (df["model"] == '2') & (df['batteryCapacity'] == 0) & (df['driveType'] == '4wd'))
df.loc[m,"batteryCapacity"] = 75

m = ((df["make"] == 'polestar') & (df["model"] == '2') & (df['batteryCapacity'] == 0) & (df['driveType'] == 'fwd'))
df.loc[m,"batteryCapacity"] = 67

get_missing_df(df, 'polestar', '2')

model
2    10
Name: count, dtype: int64
Updated 102 cars with parameters:	polestar       	2         	  75	Long Range
Updated   4 cars with parameters:	polestar       	2         	  78	Engineered BST 270
Updated  22 cars with parameters:	polestar       	2         	  67	Standard Range

Empty DataFrame
Columns: [make, model, modelTypeName, power, kilometers, electricRange, driveType]
Index: []

In [97]:
print_make_missing_battery(df)

make
tesla            36
mercedes-benz    25
maxus            23
subaru           13
volvo            11
lexus            10
bmw              10
skoda             9
nissan            6
dacia             6
renault           6
fiat              6
mini              5
audi              5
opel              5
seat              5
mg                4
volkswagen        3
jaguar            3
citroen           3
hyundai           2
smart             2
mazda             2
ford              1
ds                1
muu merkki        1
byd               1
Name: count, dtype: int64

In [98]:
no_battery_df = df[df['batteryCapacity'] == 0]
no_battery_df['make'].value_counts()
print(sum(df['batteryCapacity'] > 0) / len(df))
print(sum(df['batteryCapacity'] == 0))

0.9516129032258065
204

In [99]:
# final touches
df = df[df['batteryCapacity'] > 0]
df.loc[ df['power'] < 20,"power"] = 0
df['totalOwners'].fillna(df['totalOwners'].median(), inplace=True)
df['totalOwners'] = df['totalOwners'].astype(int)
df['seats'].fillna(5, inplace=True)
df['seats'] = df['seats'].astype(int)
df['power'].isna().sum()
df['kilometers'].fillna(df['kilometers'].mean(), inplace=True)

In [100]:
m_missing_drive_type = df['driveType'].isna()
m_tesla = (df['make'] == 'tesla')
m_opel = (df['make'] == 'opel')
m_toyota = (df['make'] == 'toyota')

m_fwd = (m_missing_drive_type) & ((m_opel) | (m_toyota))
df.loc[m_fwd, 'driveType'] = 'fwd'
m_rwd = (m_missing_drive_type) & (m_tesla)
df.loc[m_rwd, 'driveType'] = 'rwd'
df[df['driveType'].isna()]

Empty DataFrame
Columns: [make, model, modelTypeName, color, driveType, price, totalOwners, kilometers, seats, power, batteryCapacity, electricRange, age, isSuv, metallicColor, airconditioning, parking_sensors, satellite_navigator, cruise_control_adaptive, parking_camera_simple_camera, seat_heaters, driving_assistant, alloy_wheels, electric_mirrors, lane_departure_warning_system, electrically_operated_tailgate, leather_upholstery, emergency_brake_assist, collision_avoidance_system, cruise_control_traditional, parking_assistant, tow_bar, electric_seats_with_memory, heated_steering_wheel, sunroof, sun_hatch_with_panorama, adaptive_headlights, sport_seats, fuel_battery_powered_heater, parking_camera_360-degree_camera, battery_preheating, electric_seats_without_memory, air_suspension, curve_lights, head_up_display, sport_base]
Index: []

In [101]:
# infer power
df['price_bucket_5'] = (df['price'] // 5000) * 5000
df['price_bucket_10'] = (df['price'] // 10000) * 10000
df['price_bucket_20'] = (df['price'] // 20000) * 20000
df['price_bucket_30'] = (df['price'] // 30000) * 30000
df['price_bucket_40'] = (df['price'] // 40000) * 40000
df['price_bucket_100'] = (df['price'] // 100000) * 100000
pbucket_cols = list(map(lambda x: 'price_bucket_{}'.format(x), [5, 10, 20, 30, 40, 100]))
for pb in pbucket_cols:
    median_power_bucketed = df.groupby(['make', 'model', pb, 'batteryCapacity'])['power'].median()
    
    def fill_power_bucketed(row):
        if pd.isna(row['power']):
            return median_power_bucketed.get((row['make'], row['model'], row[pb], row['batteryCapacity']), None)
        return row['power']

    df['power'] = df.apply(fill_power_bucketed, axis=1)

df['power'].isna().sum()

31

In [102]:
df[df['power'].isna()]['make'].value_counts()

make
peugeot          6
kia              5
skoda            3
jaguar           3
nissan           3
ford             3
dacia            2
muu merkki       2
seat             1
fiat             1
mercedes-benz    1
lexus            1
Name: count, dtype: int64

In [103]:
df[(df['power'].isna()) & (df['make'] == 'mercedes-benz')][['make', 'model', 'modelTypeName', 'price', 'batteryCapacity', 'power']]

             make model modelTypeName     price  batteryCapacity  power
58  mercedes-benz   eqs                178090.0             90.6    NaN

In [104]:
df.head(25)

,make,model,modelTypeName,color,driveType,price,totalOwners,kilometers,seats,power,batteryCapacity,electricRange,age,isSuv,metallicColor,airconditioning,parking_sensors,satellite_navigator,cruise_control_adaptive,parking_camera_simple_camera,seat_heaters,driving_assistant,alloy_wheels,electric_mirrors,lane_departure_warning_system,electrically_operated_tailgate,leather_upholstery,emergency_brake_assist,collision_avoidance_system,cruise_control_traditional,parking_assistant,tow_bar,electric_seats_with_memory,heated_steering_wheel,sunroof,sun_hatch_with_panorama,adaptive_headlights,sport_seats,fuel_battery_powered_heater,parking_camera_360-degree_camera,battery_preheating,electric_seats_without_memory,air_suspension,curve_lights,head_up_display,sport_base,price_bucket_5,price_bucket_10,price_bucket_20,price_bucket_30,price_bucket_40,price_bucket_100
0,porsche,taycan,Taycan sähköauto Heti toimitukseen!! rahoitus ...,black,rwd,101880.0,1,2100.0,5,300.0,79.00,400.0,2.416667,False,False,True,True,True,False,False,True,False,True,True,False,True,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,True,100000.0,100000.0,100000.0,90000.0,80000.0,100000.0
2,mercedes-benz,eqs,"580 4Matic ** Muistipenkit, Burmester, nelipyö...",gray,4wd,125900.0,1,30000.0,5,385.0,108.40,702.0,2.000000,False,False,True,True,True,True,False,True,True,True,True,True,True,True,False,True,False,True,False,True,False,False,True,True,True,True,True,True,False,True,False,False,False,125000.0,120000.0,120000.0,120000.0,120000.0,100000.0
3,nissan,leaf,e+ N-Connecta MY21 62 kWh *Isoakkunen Huippuva...,black,fwd,35800.0,1,10000.0,5,160.0,62.00,NaN,2.000000,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,35000.0,30000.0,20000.0,30000.0,0.0,0.0
4,citroen,e-c4,"Full Electric 136 Shine 50 kWh, KORKOTARJOUS 3...",blue,fwd,33800.0,1,17000.0,5,100.0,50.00,NaN,2.000000,False,False,True,True,True,False,True,False,True,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,30000.0,30000.0,20000.0,30000.0,0.0,0.0
5,hyundai,kona,electric 64 kWh 204 hv Comfort. Upea. Adaptive...,white,fwd,27590.0,1,56000.0,5,150.0,64.00,415.0,2.750000,False,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,True,False,25000.0,20000.0,20000.0,0.0,0.0,0.0
6,citroen,e-c4,e-C4 Full Electric 136 Shine 50 kWh / Nahkaver...,beige,fwd,29700.0,1,34000.0,5,100.0,50.00,NaN,2.000000,False,False,True,True,True,False,True,False,True,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,25000.0,20000.0,20000.0,0.0,0.0,0.0
7,polestar,2,"PILOT JA PLUS paketit 78Kw korko 4,99% AWD LO...",black,4wd,60780.0,1,7000.0,5,300.0,75.00,500.0,2.000000,False,False,True,True,True,True,False,True,True,True,True,False,True,False,True,True,False,True,False,True,True,True,False,True,True,True,True,False,False,False,True,False,False,60000.0,60000.0,60000.0,60000.0,40000.0,0.0
8,peugeot,e-traveller,50kwh Standard 9-Paikkainen # SYYSTARJOUS!! S...,black,fwd,39900.0,1,3000.0,9,NaN,50.00,NaN,2.833333,False,False,True,True,True,False,False,False,True,False,True,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,35000.0,30000.0,20000.0,30000.0,0.0,0.0
9,peugeot,e-2008,ACTIVE PACK 50 kwh 136 Automaatti # Vaihtoehto...,orange,fwd,25790.0,1,13000.0,5,100.0,50.00,NaN,2.500000,True,True,True,True,True,False,False,False,True,True,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,25000.0,20000.0,20000.0,0.0,0.0,0.0
10,bmw,ix3,G08 Charged #PANORAMA #NAHKAVERHOILU #MUISTI #...,white,rwd,51800.0,1,17000.0,5,210.0,80.00,NaN,2.166667,True,False,True,True,True,True,True,True,True,True,True,True,True,True,False,True,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,50000.0,50000.0,40000.0,30000.0,40000.0,0.0
11,bmw,ix3,G08 Charged #Ajoavustinpaketti/pilot #Panorama...,white,rwd,49900.0,1,25500.0,5,210.0,80.00,458.0,2.000000,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,False,True,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,45000.0,40000.0,40000.0,30000.0,40000.0,0.0
12,kia,niro,Electric 64kWh / Paras varustetaso / Nahat / I...,white,fwd,39600.0,1,6000.0,5,150.0,68.00,NaN,3.000000,True,False,True,True,False,True,True,True,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,35000.0,30000.0,20000.0,30000.0,0.0,0.0
13,volkswagen,id3,"SuperRahoitusTarjous 1,95 % !! Pure Pertforman...",gray,rwd,31950.0,1,4500.0,5,110.0,42.00,330.0,2.166667,False,False,True,True,True,True,True,True,True,True,True,True,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,30000.0,30000.0,20000.0,30000.0,0.0,0.0
14,mercedes-benz,eqa,250 Progressive / Kuin uusi! KORKO 2.99%!! / N...,gray,fwd,51900.0,1,8900.0,5,140.0,66.50,NaN,2.333333,True,True,True,True,True,False,True,True,True,True,True,False,True,True,False,False,True,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,50000.0,50000.0,40000.0,30000.0,40000.0,0.0
15,mercedes-benz,eqc,400 4Matic,black,4wd,54800.0,1,14400.0,5,300.0,80.00,NaN,2.666667,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,50000.0,50000.0,40000.0,30000.0,40000.0,0.0
17,tesla,model 3,"Long-Range Dual Motor AWD Refresh Autopilot, P...",white,4wd,44900.0,1,19000.0,5,350.0,78.75,NaN,1.833333,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False,40000.0,40000.0,40000.0,30000.0,40000.0,0.0
18,tesla,model 3,Standard Range Plus ** 2x renkaat / Refresh / ...,white,rwd,39400.0,1,16000.0,5,211.0,54.50,448.0,2.000000,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True,True,True,False,False,False,False,False,True,False,False,False,False,35000.0,30000.0,20000.0,30000.0,0.0,0.0
19,polestar,2,"PiLOT ja PLUS paketit, korko 4,99% Vetok!!, 78...",white,4wd,62740.0,1,13800.0,5,300.0,75.00,470.0,2.333333,False,True,True,True,True,True,False,True,True,True,True,True,True,False,True,True,False,True,True,True,True,True,False,True,True,True,True,False,False,False,True,False,False,60000.0,60000.0,60000.0,60000.0,40000.0,0.0
20,porsche,taycan,4S Cross Turismo - Yksityisleasing + alk.1580€...,black,4wd,109890.0,1,8500.0,5,420.0,79.20,NaN,2.000000,False,False,True,True,True,True,False,True,True,True,True,True,True,True,True,True,False,False,False,True,False,True,False,True,True,False,True,False,False,True,False,False,True,105000.0,100000.0,100000.0,90000.0,80000.0,100000.0
21,kia,e-soul,"64 kwh Supreme, toimintamatka yli 450km. Huipp...",gray,fwd,36900.0,1,7000.0,5,81.0,67.50,NaN,2.000000,False,False,True,True,True,True,True,True,True,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,35000.0,30000.0,20000.0,30000.0,0.0,0.0
22,audi,e-tron,55 quattro #Autopilot #HUD #Adapt.Vakkari #Vir...,white,4wd,56800.0,1,17000.0,5,150.0,95.00,436.0,2.583333,True,False,True,True,True,True,False,True,True,True,False,True,True,False,False,True,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,True,False,55000.0,50000.0,40000.0,30000.0,40000.0,0.0
24,opel,zafira-e,Life L Comfort 136 A 75 kWh **P.KAMERA JA TUTK...,black,fwd,56880.0,1,1500.0,9,100.0,75.00,330.0,2.000000,False,False,True,True,False,False,True,True,True,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,55000.0,50000.0,40000.0,30000.0,40000.0,0.0
26,tesla,model 3,Long Range Dual AWD - Acceleration Boost 0-100...,white,4wd,45700.0,1,10000.0,5,324.0,78.75,NaN,2.083333,False,False,True,True,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,45000.0,40000.0,40000.0,30000.0,40000.0,0.0
27,citroen,e-c4,Full Electric 136 Shine 50 kWh Automaatti - Ki...,gray,fwd,26999.0,1,16000.0,5,100.0,50.00,310.0,2.750000,False,True,True,True,True,True,False,False,True,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,25000.0,20000.0,20000.0,0.0,0.0,0.0
28,opel,corsa-e,5-ov Edition 136 aut. // Täyssähköauto / LED /...,orange,fwd,26990.0,1,9000.0,5,100.0,50.00,NaN,2.000000,False,False,True,True,False,False,True,True,True,True,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,25000.0,20000.0,20000.0,0.0,0.0,0.0

In [105]:
drop_columns = ['electricRange', 'modelTypeName'] + list(pbucket_cols)
for c in drop_columns:
    df = df.drop(c, axis=1)

rows_to_drop_by = ['power', 'price']

# convert bool to int
bool_cols = df.columns[df.dtypes == 'bool']
df[bool_cols] = df[bool_cols].astype(int)

df.dropna(subset=rows_to_drop_by, inplace=True)

df.to_csv('nettiauto_dataset.csv', index=False)

In [106]:
drivetype_df = df[['make', 'model', 'driveType']].drop_duplicates().reset_index(drop=True)
drivetype_df.head(25)

             make           model driveType
0         porsche          taycan       rwd
1   mercedes-benz             eqs       4wd
2          nissan            leaf       fwd
3         citroen            e-c4       fwd
4         hyundai            kona       fwd
5        polestar               2       4wd
6         peugeot          e-2008       fwd
7             bmw             ix3       rwd
8             kia            niro       fwd
9      volkswagen             id3       rwd
10  mercedes-benz             eqa       fwd
11  mercedes-benz             eqc       4wd
12          tesla         model 3       4wd
13          tesla         model 3       rwd
14        porsche          taycan       4wd
15            kia          e-soul       fwd
16           audi          e-tron       4wd
17           opel        zafira-e       fwd
18           opel         corsa-e       fwd
19          maxus           euniq       fwd
20            kia             ev6       rwd
21     volkswagen             id4       rwd
22     volkswagen             up!       fwd
23           ford  mustang mach-e       rwd
24           opel         mokka-e       fwd

In [109]:
# df['make'] = df['make'].str.replace('-', '')
# df['model'] = df['model'].str.replace(r'\-|\.|\s|!', '', regex=True)

# df[df['batteryCapacity'] > 20].groupby('make')['model'].unique()

make
audi                [etron, etrongtrs, q4etron, etrongt, q8etron]
bmw                 [ix3, i3, ix, i3s, i4m50, i4, ix1, i7, ixm60]
byd                                            [tang, han, atto3]
citroen                  [ec4, c4, espacetourer, eberlingo, ec4x]
cupra                                                      [born]
dacia                                                    [spring]
ds                                                            [3]
fiat                                                       [500e]
ford                                      [mustangmache, mustang]
hyundai         [kona, ioniq5, ioniqelectric, konaelectric, io...
jaguar                                                    [ipace]
kia                                [niro, esoul, ev6, eniro, ev9]
lexus                                                        [ux]
maxus                                         [euniq, t90, mifa9]
mazda                                                      [mx30]
mercedesbenz               [eqs, eqa, eqc, eqb, eqv, eqe, eqssuv]
mg                                        [mg5, zs, mg4, marvelr]
mini                                                     [cooper]
muu merkki                                             [muumalli]
nissan                                              [leaf, ariya]
opel                     [zafirae, corsae, mokkae, mokka, comboe]
peugeot                      [e2008, e208, etraveller, 208, e308]
polestar                                                      [2]
porsche                                                  [taycan]
renault                                     [zoe, twingo, megane]
seat                                                [miielectric]
skoda                                             [enyaq, citigo]
subaru                                                 [solterra]
tesla                            [model3, modely, modelx, models]
toyota                   [proacecityversoev, bz4x, proaceversoev]
volkswagen                       [id3, id4, up, eup, id5, idbuzz]
volvo                                                 [xc40, c40]
Name: model, dtype: object

In [108]:
drivetype_df.to_csv('../mobile_de/drivetype.csv', index=False)